@font-face {
   font-family: "Noto Sans TC";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: local("Noto Sans TC Regular"), local("NotoSansTC-Regular"), url("/assets/fonts/NotoSansCJKtc-Regular.otf");
}

@font-face {
   font-family: "Noto Sans TC";
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: local("Noto Sans TC Bold"), local("NotoSansTC-Bold"), url("/assets/fonts/NotoSansCJKtc-Bold.otf");
}

* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   background: var(--background);
   color: var(--text);
}

body {
   font-family: "Noto Sas TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   //滾動動畫 Firefox 支援
   scroll-behavior: smooth;
}
div {
   scroll-behavior: smooth;
}
@layer base {
   #Header,
   main {
      @apply max-w-screen-xl my-0 mx-auto;
   }
}
